<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello word</h1>
    {{data}}
    <br>
    <hr>
    {% if x > y %}

    <p>in if block</p>

    <p>{{x}} is grater</p>
    
    {% else %}
    <p>in else block</p>

    <p>{{y}} is grater</p>

    {% endif %}
    <hr>
    <h3>loops</h3>

{% comment  %}
    {% for x in z %}

    <p>{{x}}</p>

    {% endfor %}
{% endcomment %}
</body>
</html>